<!-- start: Page Title -->
<div class="row-fluid">
<div id="page-title" class="span6 offset3">

  <h2>Edit <%= resource_name.to_s.humanize %></h2>

</div>
</div>
<!-- end: Page Title -->

<!--start: Wrapper-->
<div class="row-fluid">
<div id="wrapper" class="lr-page full span6 no-auto-resize offset3">
  
  <!-- start: Row -->
  <div class="row-fluid">
    
    <div id="login-form" class="span12">
      
      <div class="page-title-small">

        <h3>edit your account details</h3>

      </div>

        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
          <%= devise_error_messages! %>

          <div style="clear: both;">
          <%= f.label :name, :class => 'span4' %>
          <%= f.text_field :name, :autofocus => true, :class => 'span8' %>
          </div>

          <div style="clear: both;">
          <%= f.label :name, :class => 'span4' %>
          <%= f.email_field :email, :class => 'span8' %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div style="clear: both;">
          <%= f.label :password, :class => 'span4' %> <i>(leave blank if you don't want to change it)</i>
          <%= f.password_field :password, :class => 'span8', :autocomplete => "off" %>
          </div>

          <div style="clear: both;">
          <%= f.label :password_confirmation, :class => 'span4' %>
          <%= f.password_field :password_confirmation, :class => 'span8' %>
          </div>

          <div style="clear: both;">
          <%= f.label :current_password, :class => 'span4' %> <i>(to confirm your changes)</i>
          <%= f.password_field :current_password, :class => 'span8' %>
          </div>

          <%= f.submit "Update", :class => 'btn span12' %>

        <% end %>
      
      <div class="page-title-small">

        <h3 style="background:#ededed">or</h3>

      </div>

        <%= button_to "Unhappy? Cancel your account", registration_path(resource_name), :class => 'btn btn-danger span12', :data => { :confirm => "Are you sure?" }, :method => :delete %>
    
    </div>
    
  </div>
  <!-- end: Row --> 

</div>
<!-- end: Wrapper  -->  
</div>

<%= link_to "Back", :back %>
