<!-- start: Page Title -->
<div class="row">
  <div id="page-title" class="col-sm-12 centered">
    <h2>Edit <%= resource_name.to_s.humanize %></h2>
  </div>
</div>

<!-- end: Page Title -->

<!--start: Wrapper-->
<div id="wrapper" class="lr-page full col-sm-6 no-auto-resize col-sm-offset-3">
  
  <!-- start: Row -->
  <div class="row">
    
    <div id="login-form" class="col-sm-12">
      
      <div class="page-title-small">

        <h3>edit your account details</h3>

      </div>

        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
          <%= devise_error_messages! %>

          <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name, :autofocus => true, :class => 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :name %>
            <%= f.email_field :email, :class => 'form-control' %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="form-group">
            <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
            <%= f.password_field :password, :class => 'form-control', :autocomplete => "off" %>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, :class => 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :current_password %> <i>(to confirm your changes)</i>
            <%= f.password_field :current_password, :class => 'form-control' %>
          </div>

          <%= f.submit "Update", :class => 'btn btn-primary col-sm-12' %>

        <% end %>
      
      <div class="page-title-small">

        <h3>or</h3>

      </div>

      <%= button_to "Unhappy? Cancel your account", registration_path(resource_name), :class => 'btn btn-danger col-sm-12', :data => { :confirm => "Are you sure?" }, :method => :delete %>
    
      <%= link_to "Back", :back %>
      
    </div>
    
  </div>
  <!-- end: Row --> 

</div>
