<!-- start: Page Title -->
<div class="row-fluid">
<div id="page-title" class="span6 no-auto-resize offset3">

  <h2>Create your account</h2>

</div>
</div>
<!-- end: Page Title -->

<!--start: Wrapper-->
<div class="row-fluid">
<div id="wrapper" class="lr-page full span4 offset4">
  
  <!-- start: Row -->
  <div class="row-fluid">
    
    <div id="login-form" class="span12">
      
      <div class="page-title-small">

        <h3>use your account</h3>

      </div>

      <a href="" class="facebook_connect">
        <div class="img"><i class="icon-facebook"></i></div>
        <div class="text">Register with Facebook</div>
      </a>
      <a href="" class="twitter_connect">
        <div class="img"><i class="icon-twitter"></i></div>
        <div class="text">Register with Twitter</div>
      </a>
      
      <div class="page-title-small">

        <h3 style="background:#f0f0f0">or</h3>

      </div>
      
      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        
        <div class="row-fluid">

          <%= f.text_field :name, :autofocus => true, :placeholder => 'name', :class => 'span12' %>
            
          <%= f.email_field :email, :placeholder => 'email', :class => 'span12' %>
            
          <%= f.password_field :password, :placeholder => 'password', :class => 'span12' %>
          
          <%= f.password_field :password_confirmation, :placeholder => 'confirm password', :class => 'span12' %>
       
        </div>

        <div class="actions">
          
          <%= f.submit "Create account!", :class => 'btn span12' %>

          <!-- <%= render "devise/shared/links" %> -->
          
        </div>

      <% end %>
    
    </div>
    
  </div>
  <!-- end: Row --> 

</div>
<!-- end: Wrapper  -->  
</div>
