<!-- start: Page Title -->
<div class="row">
  <div id="page-title" class="col-sm-12 centered">
    <h2>Create your account</h2>
  </div>
</div>
<!-- end: Page Title -->

<!--start: Wrapper-->
<div id="wrapper" class="lr-page full login-container col-sm-4 col-sm-offset-4">
  
  <!-- start: Row -->
  <div class="row">
    
    <div id="login-form" class="col-sm-12">
      
      <div class="page-title-small">

        <h3>use your account</h3>

      </div>

      <a href="<%= user_omniauth_authorize_path(:twitter) %>" class="twitter_connect">
        <div class="img"><i class="icon-twitter"></i></div>
        <div class="text">Sign in with Twitter</div>
      </a>
      
      <div class="page-title-small">

        <h3>or</h3>

      </div>
      
      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        

        <%= f.text_field :name, :autofocus => true, :placeholder => 'name', :class => 'form-control' %>
          
        <%= f.email_field :email, :placeholder => 'email', :class => 'form-control' %>
          
        <%= f.password_field :password, :placeholder => 'password', :class => 'form-control' %>
        
        <%= f.password_field :password_confirmation, :placeholder => 'confirm password', :class => 'form-control' %>
        
        <p>&nbsp;</p>

        <div class="actions">
          
          <%= f.submit "Create account!", :class => 'btn btn-primary' %>

          <!-- <%= render "devise/shared/links" %> -->
          
        </div>

      <% end %>
    
    </div>
    
  </div>
  <!-- end: Row --> 

</div>
<!-- end: Wrapper  -->  
