<div id="wrapper" class="full">       
  <div class="row-fluid">

    <div class="span8 separate">
      <h2>Persona: <%= @person.name %></h2>
      <p>
        <strong>Short name:</strong>
        <%= @person.short_name %>
      </p>

      <%= render '/shared/needs_work' %>
    </div>

  </div>
</div>

<div id="wrapper" class="full">       
  <div class="row-fluid">

      <h3>Relaciones</h3>
      <div id="viz-container"></div>
      <%= render "shared/entities_list", :list => @relations %>

  </div>
</div>

<div id="wrapper" class="full">       
  <div class="row-fluid">
      <h3>Fotos</h3>
      <% @person.related_photos.each do |photo| %>
        <%= render 'shared/show_photo', :item => photo %>
      <% end %>

      <div style="clear:both">
        <%= link_to 'Back', people_path %>
      </div>

    </div>

  </div>
</div>


<script>
$(function () {

  $.getJSON( '<%= entity_path(@person, format: :json) %>', function(data) {
    var network_graph = new NetworkGraph("#viz-container");
    network_graph.display(data);
  });

});
</script>