<!--start: Wrapper-->
<div id="wrapper" class="full">       

  <!--start: Row -->
  <div class="row-fluid">

    <div class="span8 separate">

      <h2>Persona: <%= @person.name %></h2>
      <p>
        <strong>Short name:</strong>
        <%= @person.short_name %>
      </p>

      <%= render '/shared/needs_work' %>

      <h3>Relaciones</h3>
      <%= render "shared/entities_list", :list => @relations %>

      <h3>Fotos</h3>
      <% @person.related_photos.each do |photo| %>
        <%= render 'shared/show_photo', :item => photo %>
      <% end %>

      <div style="clear:both">
        <%= link_to 'Back', people_path %>
      </div>

    </div>

  </div>

</div>