<div id="footer">
  <div class="container">
    <div class="row-fluid">

      <!-- start: About -->
      <div class="span5 about">
        <div class="logos">
          <p class="title">Un proyecto de</p>
          <a href="http://www.civio.es" class="logo" title="Civio" target="_blank">
            <%= image_tag("/images/logo-civio.png") %>
          </a>
        </div>
        <div class="logos">
          <p class="title">en colaboración con</p>
          <a href="http://www.ciudadania20.org/" class="partner" title="Innovación Ciudadana" target="_blank">
            <%= image_tag("/images/LogoIC.png", width: '160px') %>
          </a>
		  <!-- 
          <a href="http://sunlightfoundation.com/" class="partner" title="Sunlight Foundation" target="_blank">
            <%= image_tag("/images/logo-gob.png", width: '90px') %>
          </a>
		   -->
        </div>
        <div class="social">
          <ul>
            <li><a href="https://twitter.com/OnodoMex" class="social-twitter" title="Twitter" target="_blank"></a></li>
            <li><a href="http://facebook.com/fundacioncivio" class="social-facebook" title="Facebook" target="_blank"></a></li>
            <!-- TODO: Put back once we have a RSS feed
            <li><a href="http://www.civio.es/feed/" class="social-rss" title="RSS" target="_blank"></a></li>
            -->
          </ul>
        </div>
        <div class="contact"><a href="mailto:contacto@civio.es" class="contact">contacto@civio.es</a> //</div>
      </div>
      <!-- end: About -->

      <div class="span2 icon">
      </div>

      <div class="span5 links">
        <h3>Quién Manda</h3>
        <p><a href="/posts/pero-que-es-esto#porque">¿Por qué hacemos esto?</a></p>
        <p><a href="/organizations/onodomex">Integrantes</a></p>
        <!-- ecaamal
		<p><a href="/posts/pero-que-es-esto#legales">Términos legales</a></p>
		-->
        <p><%= link_to 'Log In', user_session_path %></p>
        <p><%= link_to 'Administración', rails_admin_path %></p>
      </div>

    </div>
  </div>
</div>
