<div id="footer">
  <div class="container">
    <div class="row-fluid">

      <!-- start: About -->
      <div class="span5 about">
        <div class="logos">
          <p class="title">Un proyecto de</p>
          <a href="http://www.civio.es" class="logo" title="Civio" target="_blank">
            <%= image_tag("/images/logo-civio.png") %>
          </a>
        </div>
        <div class="logos">
          <p class="title">con la ayuda de</p>
          <a href="http://www.globalintegrity.org/" class="partner" title="Global Integrity" target="_blank">
            <%= image_tag("/images/logo-gi.png", width: '160px') %>
          </a>
          <a href="http://sunlightfoundation.com/" class="partner" title="Sunlight Foundation" target="_blank">
            <%= image_tag("/images/logo-sunlight.png", width: '90px') %>
          </a>
        </div>
        <div class="social">
          <ul>
            <li><a href="https://twitter.com/quien_manda" class="social-twitter" title="Twitter" target="_blank"></a></li>
            <li><a href="http://facebook.com/fundacioncivio" class="social-facebook" title="Facebook" target="_blank"></a></li>
            <!-- TODO: Put back once we have a RSS feed
            <li><a href="http://www.civio.es/feed/" class="social-rss" title="RSS" target="_blank"></a></li>
            -->
          </ul>
          <form target="_blank" class="validate" name="mc-embedded-subscribe-form" id="mc-embedded-subscribe-form" method="post" action="http://civio.us4.list-manage1.com/subscribe/post?u=9416fe6b76f2c3f985c1f8e0f&amp;id=9d5b4c8cda">         
            <input id="mce-EMAIL" class="email" type="email" required="" placeholder="correo" name="EMAIL" value="SUSCRÍBETE AL BOLETÍN" style="border: none;">
            <button type="submit" class="btn btn-submit">Enviar</button>
          </form>
        </div>
        <div class="contact"><a href="mailto:contacto@civio.es" class="contact">contacto@civio.es</a> //</div>
      </div>
      <!-- end: About -->

      <div class="span2 icon">
      </div>

      <div class="span5 links">
        <h3>Quién Manda</h3>
        <p><a href="/posts/pero-que-es-esto#porque">¿Por qué hacemos esto?</a></p>
        <p><a href="/posts/pero-que-es-esto#quienes">Agradecimientos</a></p>
        <p><a href="/posts/pero-que-es-esto#legales">Términos legales</a></p>
        <p><%= link_to 'Log In', user_session_path %></p>
        <p><%= link_to 'Administración', rails_admin_path %></p>
      </div>

    </div>
  </div>
</div>
