<header>
  <div class="container">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to '<h1>Quien Manda</h1>'.html_safe, root_path, class: 'navbar-brand' %>
        </div>
        <div id="navbar" class="collapse navbar-collapse" aria-expanded="false">
          <ul class="nav navbar-nav">
            <li class="<%= 'active' if controller.controller_name == 'posts' %>"><%= link_to 'Artículos', posts_path %></li>
            <li class="<%= 'active' if controller.controller_name == 'photos' %>"><%= link_to 'Fotomandón', photos_path %></li>
            <li class="<%= 'active' if controller.controller_name == 'people' %>"><%= link_to 'Personas', people_path %></li>
            <li class="<%= 'active' if controller.controller_name == 'organizations' %>"><%= link_to 'Organizaciones', organizations_path %></li>
            <li class="<%= 'active' if controller.controller_name == 'topics' %>"><%= link_to 'Temas', topics_path %></li>
          </ul>
          <%= form_tag search_path, :id => 'custom-search-form', 
                                    :class => 'form-search form-inline pull-right', 
                                    :method => 'get' do %>

            <div class="form-group">
              <%= text_field_tag  :q, 
                                  params[:q], 
                                  :class => 'form-control', 
                                  :placeholder => 'Busca...' %>
              <button type="submit" class="btn btn-submit"><i class="icon-search"></i></button>
            </div>
          <% end %>
        </div>
      </div>
    </nav>

    <div class="user-navbar">
      <%# User is logged out %>
      <% if current_user.nil? %>
        <a href="<%= new_user_session_path %>" rel="nofollow" title="Login">Login <i class="icon-fontello-user"></i></a>
      <%# User is logged in %>
      <% else %>
        <a data-method="delete" href="<%= destroy_user_session_path %>" rel="nofollow" title="Logout">Logout <i class="icon-fontello-user"></i></a>
        <p>Hola <%= link_to current_user.name, user_path(current_user), title: 'Mi perfil' %></p>
      <% end %>
    </div>
  </div>
</header>