<header>
  <div class="container">
    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <%= link_to '<h1>Quien Manda</h1>'.html_safe, root_path, class: 'brand' %>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li class="<%= 'active' if controller.controller_name == 'posts' %>"><%= link_to 'Artículos', posts_path %></li>
            <li class="<%= 'active' if controller.controller_name == 'photos' %>"><%= link_to 'Fotomandón', photos_path %></li>
            <li class="<%= 'active' if controller.controller_name == 'people' %>"><%= link_to 'Personas', people_path %></li>
            <li class="<%= 'active' if controller.controller_name == 'organizations' %>"><%= link_to 'Organizaciones', organizations_path %></li>
            <li class="<%= 'active' if controller.controller_name == 'topics' %>"><%= link_to 'Temas', topics_path %></li>
          </ul>
          <%= form_tag search_path, :id => 'custom-search-form', 
                                      :class => 'form-search form-horizontal pull-right', 
                                      :method => 'get' do %>
              <div class="input-append span2">
                <%= text_field_tag  :q, 
                                    params[:q], 
                                    :class => 'search-query', 
                                    :placeholder => 'Busca...' %>
                <button type="submit" class="btn"><i class="icon-search"></i></button>
              </div>
            <% end %>
        </div>
      </div>
    </div>

    <div class="user-navbar">
      <%# User is logged out %>
      <% if current_user.nil? %>
        <a href="<%= new_user_session_path %>" rel="nofollow" title="Login">Login <i class="icon-fontello-user"></i></a>
      <%# User is logged in %>
      <% else %>
        <a data-method="delete" href="<%= destroy_user_session_path %>" rel="nofollow" title="Logout">Logout <i class="icon-fontello-user"></i></a>
        <p>Hola <%= link_to current_user.name, user_path(current_user), title: 'Mi perfil' %></p>
      <% end %>
    </div>
  </div>
</header>