<!-- Civio Navbar -->
<nav id="civio-navbar">
  <div id="civio-navbar-brand-cont">
    <a id="civio-navbar-brand" href="https://civio.es/" title="Civio">
      <svg width="100" height="23" class="icon-civio" viewBox="0 0 200 45" version="1.1" aria-hidden="true"><g fill-rule="evenodd"><path id="p1" d="M188.3 0c5.56 0 10.06 4.42 10.06 9.87 0 5.45-4.5 9.87-10.06 9.87-5.55 0-10.06-4.42-10.06-9.87 0-5.45 4.5-9.87 10.06-9.87z"></path><path id="p2" d="M178.24 34.4c0-5.46 4.5-9.88 10.06-9.88s10.06 4.42 10.06 9.87c0 5.4-4.5 9.83-10.06 9.83-5.55 0-10.06-4.43-10.06-9.87"></path><path d="M58 1.3h12l16.9 41.6h-12z"></path><path d="M104.2 1.3h-12L75.25 42.9h12zM36.46 7C28.12-1.35 14.6-1.35 6.26 7c-8.34 8.33-8.34 21.87 0 30.2 8.33 8.34 21.86 8.34 30.2 0l-7.55-7.55c-4.13 4.17-10.9 4.17-15.1 0s-4.14-10.93 0-15.1 10.97-4.17 15.1 0L36.5 7zM154.6 29.65c-4.17 4.17-10.94 4.17-15.1 0-4.17-4.17-4.17-10.93 0-15.1 4.16-4.17 10.93-4.17 15.1 0 4.16 4.17 4.16 10.93 0 15.1M162.15 7c-8.34-8.34-21.87-8.34-30.2 0-8.35 8.33-8.35 21.87 0 30.2 8.33 8.34 21.86 8.34 30.2 0 8.33-8.33 8.33-21.87 0-30.2M43.2 42.9h10.75V1.3H43.2zm65.04 0H119V1.3h-10.76z"></path></g></svg>
    </a>
  </div>
  <a id="civio-navbar-donate-btn" href="https://civio.es/dona/?source=banner-top" title="Dona">Dona</a>
</nav>

<header>
  <div class="container">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to '<h1>Quien Manda</h1>'.html_safe, root_path, class: 'navbar-brand' %>
        </div>
        <div id="navbar" class="collapse navbar-collapse" aria-expanded="false">
          <ul class="nav navbar-nav">
            <li class="<%= 'active' if controller.controller_name == 'posts' %>"><%= link_to 'Artículos', posts_path %></li>
            <li class="<%= 'active' if controller.controller_name == 'photos' %>"><%= link_to 'Fotomandón', photos_path %></li>
            <li class="<%= 'active' if controller.controller_name == 'people' %>"><%= link_to 'Personas', people_path %></li>
            <li class="<%= 'active' if controller.controller_name == 'organizations' %>"><%= link_to 'Organizaciones', organizations_path %></li>
            <li class="<%= 'active' if controller.controller_name == 'topics' %>"><%= link_to 'Temas', topics_path %></li>
          </ul>
          <%= form_tag search_path, :id => 'custom-search-form', 
                                    :class => 'form-search form-inline pull-right', 
                                    :method => 'get' do %>

            <div class="form-group">
              <%= text_field_tag  :q, 
                                  params[:q], 
                                  :class => 'form-control', 
                                  :placeholder => 'Busca...' %>
              <button type="submit" class="btn btn-submit"><i class="icon-search"></i></button>
            </div>
          <% end %>
        </div>
      </div>
    </nav>

    <div class="user-navbar">
      <%# User is logged out %>
      <% if current_user.nil? %>
        <a href="<%= new_user_session_path %>" rel="nofollow" title="Login">Login <i class="icon-fontello-user"></i></a>
      <%# User is logged in %>
      <% else %>
        <a data-method="delete" href="<%= destroy_user_session_path %>" rel="nofollow" title="Logout">Logout <i class="icon-fontello-user"></i></a>
        <p>Hola <%= link_to current_user.name, user_path(current_user), title: 'Mi perfil' %></p>
      <% end %>
    </div>
  </div>
</header>