<% if !list.nil? and list.size > 0 %>
<span id="relations-table-toggle" class="label toggable active" data-toggle="collapse" data-target="#relations-list">
  <span class="show-active"><i class="icon-chevron-up"></i> Ocultar tabla de relaciones...</span>
  <span class="show-inactive"><i class="icon-chevron-down"></i> Mostrar tabla de relaciones...</span>
</span>
<div id="relations-list" class="collapse in">
  <table class="table footable table-striped">
    <thead>
      <tr>
        <th data-sort-initial="true">nombre</th>
        <th>relación</th>
        <th>nombre</th>
        <th data-sort="false">fuente</th>
        <th data-hide="phone,tablet">desde</th>
        <th data-hide="phone,tablet">hasta</th>
        <th data-hide="phone,tablet">en</th>
      </tr>
    </thead>

    <tbody>
      <% list.each do |relation| %>
        <tr>
          <td>
          <% if can? :manage, Relation %>
            <%= link_to raw('<span class="label"><i class="icon-edit"></i></span>'),
                        rails_admin.edit_path(id: relation.id, model_name: relation.class.name), 
                        target: '_blank' %>
          <% end %>
            <%= link_to relation.source.short_or_long_name, 
                        relation.source.person ? person_path(relation.source) : organization_path(relation.source) %>
          </td>
          <td><%= relation.relation_type.description %></td>
          <td>
            <%= link_to relation.target.short_or_long_name, 
                        relation.target.person ? person_path(relation.target) : organization_path(relation.target) %>
          </td>
          <td>
            <%= display_source relation.via %>
            <%= display_source relation.via2 %>
            <%= display_source relation.via3 %>
            <% relation.facts.each do |fact| %>
              <%= display_source fact.properties['via'] unless fact.properties['via'].blank? %>
            <% end %>
          </td>
          <td><%= relation.from %></td>
          <td><%= relation.to %></td>
          <td><%= relation.at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% end %>
