<!-- start: Page Title -->
<div id="page-title" class="people">

  <h2><%= entity.short_or_long_name %></h2>

</div>
<!-- end: Page Title -->
<div class="sharing-right">
  <%= render 'shared/social_buttons' %>
</div>

<div id="wrapper" class="people">

  <div class="row-fluid">

    <div id="wrapper" class="full span3">       
      <div class="picture"><%= image_tag(entity.avatar.url ? entity.avatar.url : 'avatar.png', class: 'image') %></div>
      <p class="title"><%= entity.name %></p>
      <p class="description"><%= entity.description %></p>
      <div class='entity-links'>
        <ul>
          <li><%= icon_link entity.web_page, 'link' %></li>
          <li><%= icon_link entity.wikipedia_page, 'wikipedia' %></li>
          <li><%= icon_link entity.twitter_handle, 'twitter' %></li>
          <li><%= icon_link entity.facebook_page, 'facebook' %></li>
          <li><%= icon_link entity.open_corporates_page, 'link' %></li>
          <li><%= icon_link entity.flickr_page, 'flickr' %></li>
          <li><%= icon_link entity.youtube_page, 'youtube' %></li>
          <li><%= icon_link entity.linkedin_page, 'linkedin' %></li>
        </ul>
      </div>
      <%= render '/shared/needs_work' if entity.needs_work %>
      <%= render 'shared/show_admin_links', item: entity %>
    </div>

    <div id="wrapper" class="full span9">

      <div id="visualization-controls">
        <a href="#" id="control-zoom-in" data-toggle="tooltip" data-placement='bottom' data-original-title='Acercar la visualización'>
          <i class="icon-zoom-in"></i>
        </a>
        <a href="#" id="control-zoom-out" data-toggle="tooltip" data-placement='bottom' data-original-title='Alejar la visualización'>
          <i class="icon-zoom-out"></i>
        </a>
        <a href="#" id="control-zoom-reset" data-toggle="tooltip" data-placement='bottom' data-original-title='Volver a la posición inicial'>
          <i class="icon-repeat"></i>
        </a>
        <a href="#" id="control-help" data-toggle="tooltip" data-placement='bottom' data-html='true' data-original-title='Mueve los nodos para organizar tu propia visualización y haz click en ellos para expandirlos y mostrar otras entidades relacionadas.<br/>Si quieres más información sobre una persona, organismo o qué tipo de relación les une (líneas) pasa el puntero por encima de ellos.'>
          <i class="icon-question-sign"></i>
        </a>
      </div>

      <div id="visualization-legend">    
        <div class="legend">
          <span class="legend-organizations"><i class="icon-circle"></i> Organizaciones</span>
          <span class="legend-people"><i class="icon-circle"></i> Personas</span>
        </div>
      </div>

      <div id="viz-container"></div>

      <div id="infobox">

      </div>
    </div>

  </div>

</div>

<%= render "shared/relations_list", :list => @relations %>

<%= render '/shared/mixed_wall', 
            items: entity.related_posts+entity.related_photos, 
            extra_wrapper_css: 'tight' %>

<script>
$(function () {

  var graph = new NetworkGraph("#viz-container", "#infobox");
  graph.loadNode('<%= entity_path(entity, format: :json) %>');
  $('#control-zoom-in').click(function() { graph.zoomIn(); return false; });
  $('#control-zoom-out').click(function() { graph.zoomOut(); return false; });
  $('#control-zoom-reset').click(function() { graph.zoomReset(); return false; });
  $('#control-help').click(function() { return false; });
  $('#visualization-controls a').tooltip();

});
</script>