<div class="span3 item">
  <div class="picture">
    <%= link_to image_tag(item.avatar.url ? item.avatar.url : 'avatar.png'), 
                organization_path(item), class: 'image' %>
    <div class="description">
      <p>
        <%= link_to item.name, organization_path(item) %>
        <% if !item.short_name.nil? && !item.short_name.blank? %>
        (<%= link_to item.short_name, organization_path(item) %>)
        <% end %>
      </p>
      <p>
        <%= item.description %>
      </p>
      
      <%= render 'shared/show_admin_links', :item => item %>
    </div>
  </div>  
</div>
