<% if item.published or (can? :manage, item) %>
<div class="<%= defined?(span) ? span : 'span4' %> item topic">
  <%# Template for mixed wall %>
  <% if defined? mixed and mixed %>
    <h3><a href="<%= topic_path(item) %>" title="<%= item.title %>"><%= item.title %></a></h3>
    <div class="image-container">
      <a class="image" href="<%= topic_path(item) %>" title="<%= item.title %>">
        <%= image_tag(item.photo && item.photo.file.url(:small))%>
      </a>
    </div>
  </a>
  <%# Template for Topics home %>
  <% else %>
  <a href="<%= topic_path(item) %>" class="picture">
    <div class="image-container">
      <div class="image">
        <%= image_tag(item.photo && item.photo.file.url(:small))%>
      </div>
    </div>
    <span class="hover"></span>
    <h3><%= item.title %></h3>
  </a>  
  <% end %>
</div>
<% end %>