<!-- start: Page Title -->
<div id="page-title">

  <h2><%= entity.short_or_long_name %></h2>

</div>
<!-- end: Page Title -->

<div id="wrapper" class="full">       
  <div class="row-fluid">

    <div class="span4 separate">
      <%= image_tag(entity.avatar.url ? entity.avatar.url : 'avatar.png', class: 'image') %>
    </div>

    <div class="span8">
      <p>
        <strong><%= entity.name %></strong><br>
        <%= entity.description %>
      </p>
      <p>
        <ul class='entity-links clearfix'>
          <li><%= icon_link entity.web_page, 'link' %></li>
          <li><%= icon_link entity.wikipedia_page, 'wikipedia' %></li>
          <li><%= icon_link entity.twitter_handle, 'twitter' %></li>
          <li><%= icon_link entity.facebook_page, 'facebook' %></li>
          <li><%= icon_link entity.open_corporates_page, 'link' %></li>
          <li><%= icon_link entity.flickr_page, 'flickr' %></li>
          <li><%= icon_link entity.youtube_page, 'youtube' %></li>
          <li><%= icon_link entity.linkedin_page, 'linkedin' %></li>
        </ul>
      </p>
      <%= render '/shared/needs_work' %>
      <%= render 'shared/show_admin_links', item: entity %>
    </div>

  </div>
</div>

      <%= render 'shared/social_buttons' %>

<div id="wrapper" class="full tight">       
  <div class="row-fluid">

    <div id="viz-container"></div>
    <%= render "shared/entities_list", :list => @relations %>

  </div>
</div>

<%= render '/shared/show_photo_wall', photos: entity.related_photos, extra_wrapper_css: 'tight' %>

<script>
$(function () {

  new NetworkGraph("#viz-container").loadNode('<%= entity_path(entity, format: :json) %>');

});
</script>