<% unless entities.empty? %>
<div class="span4 sidebar hidden-phone">
  <h3>Entidades</h3>
    <table>
      <% entities.each do |entity| %>
      <tr>
        <td>
          <%= link_to entity_path(entity) do %>
          <%= 
            image_tag(entity.avatar.url ? entity.avatar.url(:icon) : 'avatar.png', class: 'image tiny') 
          %>
          <% end %>
        </td>
        <td>
          <%= link_to entity.short_or_long_name, entity_path(entity) %>.
          <small><%= entity.description %></small>
          <%= render 'shared/show_admin_links', :item => entity, :inline => true %>
        </td>
      </tr>
      <% end %>
    </table>
</div>
<% end %>
