<% unless entities.empty? %>
<div class="span4 sidebar hidden-phone">

  <%= render 'shared/social_buttons' %>

  <%# TODO: Add this once functionality is ready %>
  <% if false and defined?(navigation) %>
  <div class="related-entities-navigation">
    <a href="#" class="left" title="Anterior">Anterior</a>
    <p>mostrar fotomandón</p>
    <a href="#" class="right" title="Siguiente">Siguiente</a>
  </div>  
  <% end %>

  <div class="related-entities">

    <h3>Protagonistas</h3>

    <ul>
      <% entities.each_with_index do |entity, i| %>
      <%# Start displaying at least 5 related entities, always the high priority ones %>
      <li <%= "class='extra-related-entity'".html_safe if i>=5 and entity.priority!='1' %>>
        <div class="picture">
          <%= link_to entity_path(entity) do %>
          <%= 
            image_tag(entity.avatar.url ? entity.avatar.url(:icon) : 'avatar-tiny.png', class: 'image tiny') 
          %>
          <% end %>
        </div>
        <div class="content">
          <% if entity.person? %>
          <%= link_to entity.short_or_long_name, person_path(entity) %>
          <% else %>
          <%= link_to entity.short_or_long_name, organization_path(entity) %>
          <% end %>
          <small><%= entity.description %></small>
        </div>
        <%= render 'shared/show_admin_links', :item => entity, :inline => true %>
      </li>
      <% end %>
    </ul>
  </div>

  <span id="related-entities-toggle" class="label toggable">
    <i class="icon-chevron-down"></i> Mostrar todos
  </span> 
</div>
<% end %>