<% embedded_from_class = params[:embedded_from].blank? ? '' : params[:embedded_from] %>

<div id="viz-container" class="<%= embedded_from_class %>" data-path="<%= path %>">

  <div id="visualization-controls">
    <a href="#" id="control-fullscreen" data-toggle="tooltip" data-placement='bottom' data-original-title='Ver a pantalla completa'>
      <i class="icon-fullscreen"></i>
    </a>
    <a href="#" id="control-fullscreen-exit" data-toggle="tooltip" data-placement='bottom' data-original-title='Salir de pantalla completa'>
      <i class="icon-resize-small"></i>
    </a>
    <a href="#" id="control-zoom-in" data-toggle="tooltip" data-placement='bottom' data-original-title='Acercar la visualización'>
      <i class="icon-zoom-in"></i>
    </a>
    <a href="#" id="control-zoom-out" data-toggle="tooltip" data-placement='bottom' data-original-title='Alejar la visualización'>
      <i class="icon-zoom-out"></i>
    </a>
    <a href="#" id="control-zoom-reset" data-toggle="tooltip" data-placement='bottom' data-original-title='Volver a la posición inicial'>
      <i class="icon-repeat"></i>
    </a>
    <% if current_user and current_user.admin? %>
    <a href="#" id="control-history-undo" class="disabled" data-toggle="tooltip" data-placement='bottom' data-original-title='Deshacer la última acción'>
      <i class="icon-step-backward"></i>
    </a>
    <a href="#" id="control-history-redo" class="disabled" data-toggle="tooltip" data-placement='bottom' data-original-title='Rehacer la última acción'>
      <i class="icon-step-forward"></i>
    </a>
    <% unless (defined? widget) %>
    <a href="#embed-code-modal" id="control-embed" data-url="<%= slug %>" data-toggle="modal" data-placement='bottom' data-original-title='Código para embeber la visualización'>
      <i class="icon-fontello-code"></i>
    </a>
    <% end %>
    <% end %>
    <a href="#" id="control-help" data-toggle="tooltip" data-placement='bottom' data-html='true' data-original-title='Mueve los nodos para organizar tu propia visualización y haz click en ellos para expandirlos y mostrar otras entidades relacionadas.<br/>Si quieres más información sobre una persona, organismo o qué tipo de relación les une (líneas) pasa el puntero por encima de ellos.'>
      <i class="icon-question-sign"></i>
    </a>
  </div>

  <div id="visualization-legend">    
    <div class="legend">
      <span class="legend-organizations"><i class="icon-circle"></i> Organizaciones</span>
      <span class="legend-people"><i class="icon-circle"></i> Personas</span>
    </div>
  </div>

  <div id="infobox"></div>

  <% if (defined? widget) %>
  <div id="qm-logo"><a href="<%= slug %>" target="_blank" title="<%= widget %> en Quién Manda">Quién Manda</a></div>
  <% end %>
</div>