<% unless entities.empty? %>
<div class="sidebar hidden-phone<%= ' col-sm-4' unless defined? post %>">

  <% if defined?(photo_navigation) %>
  <div class="related-entities-navigation">
    <%= link_to "Anterior", previous_photo_path(@photo), class: "left" %>
    <p>Anterior/Siguiente foto</p>
    <%= link_to "Siguiente", next_photo_path(@photo), class: "right" %>
  </div>  
  <% end %>

  <div class="related-entities">

    <h3>Protagonistas</h3>

    <ul>
      <% entities.each_with_index do |entity, i| %>
      <%# Start displaying at least 5 related entities, always the high priority ones %>
      <% class_str = (defined? post) ? 'col-sm-3' : '' %>
      <% class_str += ' extra-related-entity' if ( i>=8 and entity.priority!='1' ) %>
      <li class="<%= class_str %>">
        <div class="picture">
          <%= link_to entity_path(entity) do %>
          <%= 
            image_tag(entity.avatar.url ? entity.avatar.url(:icon) : 'avatar-tiny.png', class: 'image tiny') 
          %>
          <% end %>
        </div>
        <div class="content">
          <% if entity.person? %>
          <%= link_to entity.short_or_long_name, person_path(entity) %>
          <% else %>
          <%= link_to entity.short_or_long_name, organization_path(entity) %>
          <% end %>
          <small><%= entity.description %></small>
        </div>
        <%= render 'shared/show_admin_links', :item => entity, :inline => true %>
      </li>
      <% end %>
    </ul>
  </div>

  <span id="related-entities-toggle" class="label toggable">
    <i class="icon-chevron-down"></i> Mostrar todos
  </span> 
</div>
<% end %>