<!-- start: Page Title -->
<div id="page-title" class="article">

  <h2><%= entity.short_or_long_name %></h2>

</div>
<!-- end: Page Title -->
<%= render 'shared/social_buttons' %>

<div id="wrapper tight">

  <div class="row-fluid">

    <div id="wrapper" class="full span3">       
      <%= image_tag(entity.avatar.url ? entity.avatar.url : 'avatar.png', class: 'image') %>
      <p>
        <strong><%= entity.name %></strong><br>
        <%= entity.description %>
      </p>
      <p>
        <ul class='entity-links clearfix'>
          <li><%= icon_link entity.web_page, 'link' %></li>
          <li><%= icon_link entity.wikipedia_page, 'wikipedia' %></li>
          <li><%= icon_link entity.twitter_handle, 'twitter' %></li>
          <li><%= icon_link entity.facebook_page, 'facebook' %></li>
          <li><%= icon_link entity.open_corporates_page, 'link' %></li>
          <li><%= icon_link entity.flickr_page, 'flickr' %></li>
          <li><%= icon_link entity.youtube_page, 'youtube' %></li>
          <li><%= icon_link entity.linkedin_page, 'linkedin' %></li>
        </ul>
      </p>
      <%= render '/shared/needs_work' if entity.needs_work %>
      <%= render 'shared/show_admin_links', item: entity %>
    </div>

    <div id="wrapper" class="full span9">

      <div class="visualization-controls">
        <i class="icon-zoom-in" id="control-zoom-in"></i>
        <i class="icon-zoom-out" id="control-zoom-out"></i>
        <i class="icon-repeat" id="control-zoom-reset"></i>
      </div>

      <div id="viz-container"></div>

      <div style="text-align: center">    
        <div class="legend">
          <span class="legend-organizations"><i class="icon-circle"></i> Organizaciones</span>
          <span class="legend-people"><i class="icon-circle"></i> Personas</span>
        </div>
      </div>

    </div>

  </div>

</div>

<%= render "shared/relations_list", :list => @relations %>

<%= render '/shared/mixed_wall', 
            items: entity.related_posts[0..2]+entity.related_photos, 
            extra_wrapper_css: 'tight' %>

<script>
$(function () {

  var graph = new NetworkGraph("#viz-container");
  graph.loadNode('<%= entity_path(entity, format: :json) %>');
  $('#control-zoom-in').click(function() { graph.zoomIn(); });
  $('#control-zoom-out').click(function() { graph.zoomOut(); });
  $('#control-zoom-reset').click(function() { graph.zoomReset(); });

});
</script>