<% unless photo.nil? %>
  <% if current_user.nil? %>
    <a class="vote-btn" href="/login" title="Me gusta esta foto"><i class="icon-fontello-thumbs-up-alt"></i>Me gusta<span><%= @photo.votes_for.size %></span></a>
  <% elsif current_user.voted_for? @photo %>
    <a class="vote-btn" href="<%= photo_path(@photo)+'/vote-down/' %>" title="Ya no me gusta esta foto"><i class="icon-fontello-thumbs-up-alt"></i>Ya no me gusta<span><%= @photo.get_likes.size %></span></a>
  <% else %>
    <a class="vote-btn" href="<%= photo_path(@photo)+'/vote-up/' %>" title="Me gusta esta foto"><i class="icon-fontello-thumbs-up-alt"></i>Me gusta<span><%= @photo.get_likes.size %></span></a>
  <% end %>
<% end %>