<div class="sharing-buttons">
  <ul class="sharing-buttons-toolbox">
    <li>
      <a class="sharing-button sharing-button-twitter social-twitter" onclick="window.open('https://twitter.com/intent/tweet?url=<%= request.original_url %>&amp;text=<%= @title %> - Quién Manda - Un proyecto de @Civio','_blank','height=260,width=400')" href="javascript: void(0)" title="Compartir en Twitter">Compartir en Twitter</a>
    </li>
    <li>
      <a class="sharing-button sharing-button-facebook social-facebook" onclick="window.open('https://www.facebook.com/dialog/share?app_id=<%= Rails.configuration.facebook_app_id %>&amp;display=popup&amp;href=<%= request.original_url %>&amp;redirect_uri=<%= request.original_url %>','_blank','height=400,width=400')" href="javascript: void(0)" title="Compartir en Facebook">Compartir en Facebook</a>
    </li>
    <li>
      <a class="sharing-button sharing-button-googleplus social-googleplus" onclick="window.open('https://plus.google.com/share?url=<%= request.original_url %>','_blank','height=400,width=500')" href="javascript: void(0)" title="Compartir en Google+">Compartir en Google+</a>
    </li>
    <li>
      <a class="sharing-button sharing-button-meneame social-meneame" onclick="window.open('https://www.meneame.net/submit.php?url=<%= request.original_url %>','_blank','height=400,width=500')" href="javascript: void(0)" title="Compartir en Menéame">Compartir en Menéame</a>
    </li>
  </ul>
</div>