<!--start: row-fluid -->
<div class="row-fluid">

  <!--start: Wrapper-->
  <!-- start: Flexslider -->
  <div id="homepage-slider" class="slider span7 nogutter">
    <div id="flex1" class="flexslider home">
      <ul class="slides">

        <% @highlights.each do |post| %>
        <li>
          <%= link_to post do %>
            <%= image_tag(post.photo.file.url(:full)) %>
          <% end %>
          <div class="slide-caption n">
            <%= link_to post do %>
              <h3><%= post.title %></h3>
            <% end %>
            <p>
              <%= post.lead %>
            </p>
            <p>
              <%= render 'shared/show_photo_credit', photo: post.photo %>
            </p>
          </div>
        </li>
        <% end %>

      </ul>
    </div>
  </div>
  <!-- end: Flexslider -->
  <!-- end: Wrapper  -->  

  <!--start: Wrapper-->
  <div id="homepage-lead" class="span5">
    <h3>Onodo</h3>
    <p>
       Muchas decisiones y cambios se hacen en función de las relaciones entre las personas o las instituciones, esta es la manera natural en la que la sociedad y el mundo se estructuran.
    </p>
    <p>
	Sin embargo, frecuentemente solo estamos conscientes del resultado de estas decisiones. Por ello la importancia de Onodo, cuyo propósito se basa en posibilitar la visualización clara y estructurada de esta clase de información.
    </p>
    <p>
       Dirigir luz hacia un espectro cubierto de bruma para adquirir una perspectiva más amplia y contrarrestar la sensación de desconfianza que genera la incertidumbre.    </p>
    </p>
    <p>
	   Siguenos en  <a href="https://twitter.com/OnodoMEX" target="_blank"><strong>Twitter</a></p>	   
    </p>
  </div>
  <!-- end: Wrapper  -->  

</div>
<!--end: row-fluid -->

<!--start: Wrapper-->
<div id="wrapper">
  
  <div class="title article"><p>Artículos recientes</p></div>

  <!-- start: Portfolio -->
  <div id="wall" class="row-fluid">
            
    <% @posts.each do |post| %>
      <%= render '/shared/show_post', :item => post, :width => 'span6', :frontpage => 'true' %>
    <% end %>

  </div>

  <!-- Botón Todos los Artículos
  <div class="all-btn row-fluid">
    <a href="#" title="Todos los Artículos">Todos los Artículos</a>
  </div>
  -->
  <!-- end: Portfolio -->

</div>
<!-- end: Wrapper  -->

<!--start: Wrapper-->
<div id="wrapper">

  <div class="title photo"><p>Las últimas del Fotomandón</p></div>
  
  <!-- start: Portfolio -->
  <div id="wall" class="row-fluid extra-wall photo">
            
    <% @photos.each do |photo| %>
      <%= render '/shared/show_photo', :item => photo %>
    <% end %>

  </div>

  <!-- Botón Todos los Fotomandón
  <div class="all-btn row-fluid">
    <a href="#" title="Todos los Fotomandón">Todos los Fotomandón</a>
  </div>
  -->
  <!-- end: Portfolio -->

</div>
<!-- end: Wrapper  -->

<script>
$(function () {

  $('#flex1').flexslider();
  
});
</script>