<!--start: row-fluid -->
<div class="row-fluid">

  <!--start: Wrapper-->
  <!-- start: Flexslider -->
  <div id="homepage-slider" class="slider span7 nogutter">
    <div id="flex1" class="flexslider home">
      <ul class="slides">

        <% @highlights.each do |post| %>
        <li>
          <%= link_to post do %>
            <%= image_tag(post.photo.file.url(:full)) %>
          <% end %>
          <div class="slide-caption n">
            <%= link_to post do %>
              <h3><%= post.title %></h3>
            <% end %>
            <p>
              <%= post.lead %>
            </p>
            <p>
              <%= render 'shared/show_photo_credit', photo: post.photo %>
            </p>
          </div>
        </li>
        <% end %>

      </ul>
    </div>
  </div>
  <!-- end: Flexslider -->
  <!-- end: Wrapper  -->  

  <!--start: Wrapper-->
  <div id="homepage-lead" class="span5">
    <h3>Desaparecidos</h3>
    <p>
      En todos los países y de todas las profesiones. Los desaparecidos permanecen en la lucha de quienes les buscan y el recuerdo de sus familias. Pero deberían estar presentes, cada día, en la memoria de todos. Este proyecto quiere ayudar a vencer al olvido.
	</p>
    <p>Siguenos en <a href="https://twitter.com/OnodoMEX" target="_blank"><strong>Twitter</strong></a></p>
  </div>
  <!-- end: Wrapper  -->  

</div>
<!--end: row-fluid -->

<!--start: Wrapper-->
<div id="wrapper">
  
  <div class="title article"><p>Artículos recientes</p></div>

  <!-- start: Portfolio -->
  <div id="wall" class="row-fluid">
            
    <% @posts.each do |post| %>
      <%= render '/shared/show_post', :item => post, :width => 'span6', :frontpage => 'true' %>
    <% end %>

  </div>

  <!-- Botón Todos los Artículos
  <div class="all-btn row-fluid">
    <a href="#" title="Todos los Artículos">Todos los Artículos</a>
  </div>
  -->
  <!-- end: Portfolio -->

</div>
<!-- end: Wrapper  -->

<!--start: Wrapper-->
<div id="wrapper">

  <div class="title photo"><p>Las últimas de la Galería</p></div>
  
  <!-- start: Portfolio -->
  <div id="wall" class="row-fluid extra-wall photo">
            
    <% @photos.each do |photo| %>
      <%= render '/shared/show_photo', :item => photo %>
    <% end %>

  </div>

  <!-- Botón Todos los Fotomandón
  <div class="all-btn row-fluid">
    <a href="#" title="Toda la Galería">Toda la Galería</a>
  </div>
  -->
  <!-- end: Portfolio -->

</div>
<!-- end: Wrapper  -->

<script>
$(function () {

  $('#flex1').flexslider();
  
});
</script>