<div id="page-title">
  <h2>Upload</h2>
</div>

<!--start: Wrapper-->
<div id="wrapper" class="full">
  <div class="row-fluid">

    <p>
      Uploaded <%= @results.size %> facts 
      (out of which <span class="field-match-warning"><%= @results.select{|r| r[:imported]==false}.size %> ignored</span>):
    </p>

    <p>
      <table class='table'>
        <thead>
          <tr>
            <th>Source</th>
            <th>Role</th>
            <th>Target</th>
            <th>Other</th>
          </tr>
        </thead>
        <tbody>
          <% @results.each do |result| %>
          <tr class=<%= result[:imported] ? 'success' : 'warning' %>>
            <td><%= result[:fact].properties['source'] %></td>
            <td><%= result[:fact].properties['role'] %></td>
            <td><%= result[:fact].properties['target'] %></td>
            <td><%= result[:fact].properties.reject {|k, v| ['source', 'role', 'target'].include? k } %></td>
          </tr>
          <% end %>
        </tbody>
      </table> 
    </p>

    <p>
      You can now <%= link_to 'process them', import_process_path(importer: 'CSV') %>.
    </p>

  </div>
</div>
<!-- end: Wrapper  -->

