<div id="page-title">
  <h2>Upload</h2>
</div>

<!--start: Wrapper-->
<div id="wrapper" class="full">
  <div class="row-fluid">

    <p>
      Uploaded <%= @facts.size %> facts:
    </p>

    <p>
      <table>
        <thead>
          <tr>
            <th>Source</th>
            <th>Role</th>
            <th>Target</th>
            <th>Other</th>
          </tr>
        </thead>
        <tbody>
          <% @facts.each do |fact| %>
          <tr>
            <td><%= fact.properties['source'] %></td>
            <td><%= fact.properties['role'] %></td>
            <td><%= fact.properties['target'] %></td>
            <td><%= fact.properties.reject {|k, v| ['source', 'role', 'target'].include? k } %></td>
          </tr>
          <% end %>
        </tbody>
      </table> 
    </p>

    <p>
      You can now <%= link_to 'process them', import_process_path(importer: 'CSV') %>.
    </p>

  </div>
</div>
<!-- end: Wrapper  -->

