<!-- start: Page Title -->
<div id="page-title" class="centered">
  <h2>Log in to your account</h2>
</div>
<!-- end: Page Title -->

<!--start: Wrapper-->
<div class="row">
<div id="wrapper" class="full login-container lr-page col-sm-4 col-sm-offset-4">
  
  <!-- start: Row -->
  <div class="row">
    
    <div id="login-form" class="col-sm-12">
      <div class="page-title-small">
        <h3>use your account</h3>
      </div>

      <a href="<%= user_omniauth_authorize_path(:twitter) %>" class="twitter_connect">
        <div class="img"><i class="icon-twitter"></i></div>
        <div class="text">Sign in with Twitter</div>
      </a>
      
      <div class="page-title-small">
        <h3>or</h3>
      </div>
      
      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
   
        <%= f.email_field :email, :autofocus => true, :class => 'form-control', :placeholder => 'email' %>
          
        <%= f.password_field :password, :class => 'form-control', :placeholder => 'password' %>

        <% if devise_mapping.rememberable? -%>
        <div class="remember pull-left">
          <%= f.check_box :remember_me, :value => '1' %> Remember me
        </div>
        <% end -%>

        <%- if devise_mapping.recoverable? %>
        <div class="forgot pull-right">
          <%= link_to "Forgot password?", new_password_path(resource_name) %>
        </div>
        <% end -%>

        <div class="clearfix"></div>

        <div class="actions">
          
          <%= f.submit "Sign in", :class => 'btn btn-primary' %>

          <!-- <%= render "devise/shared/links" %> -->
          
        </div>

      <% end %>
    
    </div>
    
  </div>
  <!-- end: Row --> 

</div>
<!-- end: Wrapper  -->      
</div>
