<!-- start: Page Title -->
<div id="page-title">

  <h2>El Fotomandón</h2>

</div>
<!-- end: Page Title -->

<!--start: Wrapper-->
<div id="wrapper">
      
  <!--start: Row -->
  <div class="row-fluid">
  
    <div class=" span8">

      <div class="posts full picture">

        <%= image_tag(@photo.file.url(:full), class: 'photo annotatable', id: 'photo') %>

        <p>
          <% unless @photo.date.blank? %>
          <strong><%= I18n.localize(@photo.date, :format => "%d de %B %Y") %>.</strong>
          <% end %>
          <%= raw(@photo.footer) %>
        </p>
        <p>
          <%= render 'shared/show_photo_credit', photo: @photo %>
        </p>

        <%= render 'shared/show_admin_links', item: @photo %>

        <%= render 'shared/social_buttons' %>

      </div>

      <%= render 'shared/related_posts', related_posts: @photo.related_posts[0..1], wrapper: true, width: 'span6' %>

    </div>

    <%= render 'shared/show_related_entities', entities: @photo.related_entities %>

  </div>

</div>

<%= render 'shared/annotorious', photo: @photo %>

