<!-- start: Page Title -->
<div id="page-title">

  <h2>El Fotomandón</h2>

</div>
<!-- end: Page Title -->

<!--start: Wrapper-->
<div id="wrapper">
      
  <!--start: Row -->
  <div class="row-fluid">
  
    <div class="posts span8 full">

      <%= image_tag(@photo.file.url(:full), class: 'photo annotatable', id: 'photo') %>

      <p>
        <%= raw(@photo.footer) %>
      </p>
      <p>
        <% if !@photo.source.blank? %>
        <i class="icon-external-link-sign"></i> <%= link_to @photo.copyright, absolute_url(@photo.source), target: '_blank' %>
        <% end %>
      </p>

      <%= render 'shared/show_admin_links', item: @photo %>

    </div>

    <% unless @photo.related_entities.empty? %>
    <!-- start: Sidebar -->
    <div class="span4 sidebar hidden-phone">

      <p>
        <ul class="links-list-alt">
          <% @photo.related_entities.each do |entity| %>
          <li>
            <%= link_to entity.short_or_long_name, entity_path(entity) %>
          </li>
          <% end %>
        </ul>
      </p>

    </div>
    <!-- end: Sidebar -->
    <% end %>

    <% if can? :manage, @photo and not @photo.tag_list.empty? %>
    <!-- start: Sidebar -->
    <div class="span4 sidebar full">

      <h3>Tags</h3>
      <div class="tags"> 
        <% @photo.tag_list.each do |tag| %>
        <%= link_to tag, tagged_photos_path(tag_name: tag) %>
        <% end %>
      </div>

    </div>
    <!-- end: Sidebar -->
    <% end %>

  </div>

</div>

<!-- FIXME: Annotorious Proof of Concept. Much improvement left -->
<script src="/javascripts/annotorious/annotorious.min.js"></script>
<script src="/javascripts/annotorious/anno-rest-storage-plugin.js"></script>
<script>
// Annotorious seems to break the $ jQuery object, which creates havoc with 
// other Javascript code, so we load it dynamically after the page is loaded.
// Interestingly this doesn't happen with the dev (uncompiled) version. More
// interestingly trying to restore it ($=jQuery) breaks the plugin 
jQuery(function() {
  <% if not can? :manage, @photo %>
  // Set default properties so the widget doesn't come back after annotations loaded
  anno.setProperties = { hide_selection_widget: true, hide_annotations: false };
  // ...and then hide the widget
  anno.hideSelectionWidget();
  <% end %>

  anno.addPlugin('RESTStorage', { base_url: '/annotations' });
});
</script>
<style>
  /* FIXME: Clumsy and insecure way of disabling edit buttons in pop-up */
  <% if not can? :manage, @photo %>
  .annotorious-popup-button-edit,
  .annotorious-popup-button-delete {
    display: none;
  }
  <% end %>
</style>