<!-- start: Page Title -->
<div id="page-title">

  <h2>El Fotomandón</h2>

</div>
<!-- end: Page Title -->

<!--start: Wrapper-->
<div id="wrapper">
      
  <!--start: Row -->
  <div class="row-fluid">
  
    <div class=" span8">

      <div class="posts full picture">

        <%= image_tag(@photo.file.url(:full), class: 'photo annotatable', id: 'photo') %>

        <%= render 'shared/photo_footer', photo: @photo %>

        <%= render 'shared/show_admin_links', item: @photo %>

        <%= render 'shared/social_buttons' %>

        <%= render '/shared/ad_banner' %>

      </div>

      <%= render 'shared/related_posts', related_posts: @photo.related_posts[0..1], wrapper: true, width: 'span6' %>

    </div>

    <%= render 'shared/show_related_entities', entities: @photo.related_entities, navigation: true %>

  </div>

</div>

<%= render 'shared/annotorious', photo: @photo %>

