<!-- start: Page Title -->
<div id="page-title">

  <h2>El Fotomandón</h2>

</div>
<!-- end: Page Title -->

<!--start: Wrapper-->
<div id="wrapper">
      
  <!--start: Row -->
  <div class="row-fluid">
  
    <div class=" span8">

      <div class="posts full picture">

        <%= image_tag(@photo.file.url(:full), class: 'photo annotatable', id: 'photo') %>

        <p>
          <% unless @photo.date.blank? %>
          <strong><%= I18n.localize(@photo.date, :format => "%d de %B %Y") %>.</strong>
          <% end %>
          <%= raw(@photo.footer) %>
        </p>
        <p>
          <%= render 'shared/show_photo_credit', photo: @photo %>
        </p>

        <%= render 'shared/show_admin_links', item: @photo %>

        <%= render 'shared/social_buttons' %>

      </div>

      <div id="wrapper" class="full tight">
        <%= render 'shared/related_posts', related_posts: @photo.related_posts[0..1], width: 'span6' %>
      </div>

    </div>

    <%= render 'shared/show_related_entities', entities: @photo.related_entities %>

  </div>

</div>

<script src="/javascripts/annotorious/annotorious.min.js"></script>
<script src="/javascripts/annotorious/anno-rest-storage-plugin.js"></script>
<%#
# The minimized version of Annotorious breaks the $ jQuery object, which creates havoc 
# with other Javascript code, so be careful. Trying to restore jQuery ($=jQuery) breaks 
# the plugin in a strange way
%>
<script>
jQuery(function() {
  anno.addPlugin('RESTStorage', { 
                    base_url: '<%= "/photos/#{@photo.id}/annotations" %>',
                    read_only: <%= (can? :manage, @photo) ? 'false' : 'true' %>
                  });
});
</script>
<%# This is not a secure way of avoiding edits, but the real check is in the controller %>
<% if not can? :manage, @photo %>
<style>
  .annotorious-popup-button-edit,
  .annotorious-popup-button-delete {
    display: none;
  }
</style>
<% end %>
