<!-- start: Page Title -->

<!-- end: Page Title -->
    
<!--start: Wrapper-->
<div id="wrapper">
      
  <!--start: Row -->
  <div class="row-fluid">
  
    <div class="posts">

      <!-- start: Post -->
      <div class="post first last">
        <h2 class="post-title">
          <span><%= @post.title %></span>
        </h2>
      
        <% if @post.show_photo_as_header and @post.photo and !@post.photo.file.url.blank? %>
        <div class="post-img picture">
          <%= image_tag(@post.photo.file.url(:full), class: 'image') %>
        </div>
        <%= render 'shared/photo_footer', photo: @post.photo %>
        <%= render 'shared/show_photo_credit', photo: @post.photo %>
        <% end %>
        <div class="clearfix"></div>
        
        <h3 class="post-title"><%= @post.lead %></h3>

        <div class="post-content">
          <div class="post-meta">
            <span class="post-meta-author"><%= @post.author.name %></span> · <span class="post-meta-date"><%= @post.published_at.day %>.<%= @post.published_at.month %>.<%= @post.published_at.year %></span> 
          </div>
          <%= render 'shared/show_tags', item: @post %>
          <%= render 'shared/show_admin_links', item: @post %>
          <div class="post-description">
            <%= raw(@content) %>
          </div>

          <%= render 'shared/show_related_entities', entities: @related_entities, post: true %>

        </div>

        <%= render 'shared/social_buttons', title: @post.title %>

        <%= render '/shared/ad_banner' %>

      </div>
      <div class="post first last related-posts">
        
        <%= render 'shared/related_posts', related_posts: @related_posts, span: 'col-sm-6' %>
        
      </div>
      <div class="post first last comments">

        <%= render 'shared/comments' %>
      
      </div>
      <!-- end: Post -->

    </div>  

  </div>
  <!--end: Row -->

</div>
<!-- end: Wrapper  -->

