<!-- start: Page Title -->
<div id="page-title">

  <h2><%= @post.title %></h2>

</div>
<!-- end: Page Title -->
    
<!--start: Wrapper-->
<div id="wrapper">
      
  <!--start: Row -->
  <div class="row-fluid">
  
    <div class="posts span8">

      <!-- start: Post -->
      <div class="post first last">
      
        <% if @post.show_photo_as_header and !@post.photo.file.url.blank? %>
        <div class="post-img picture">
          <%= image_tag(@post.photo.file.url(:full), class: 'image') %>
        </div>
        <% end %>
        <div class="info">
          <span class="post-date">
            <span class="day"><%= @post.updated_at.day %></span>
            <span class="month-year"><%= I18n.localize(@post.updated_at, :format => "%B %Y") %></span>
          </span>
        </div>
        <div class="post-title clearfix">
          <h2><%= @post.lead %></h2>
        </div>
        <div class="post-content">
          <div class="post-meta">
            <span><i class="icon-user"></i>Por <a href="#"><%= @post.author.name %></a></span> 
          </div>
          <%= render 'shared/show_admin_links', item: @post %>
          <div class="post-description">
            <%= raw(@content) %>
          </div>
        </div>

        <%= render 'shared/social_buttons' %>
      
      </div>
      <!-- end: Post -->

    </div>  

    <!-- start: Sidebar -->
    <div class="span4 sidebar hidden-phone">

      <h3>Entidades</h3>
      <p>
        <ul class="links-list-alt">
          <% @related_entities.each do |entity| %>
          <li>
            <%= link_to entity.short_or_long_name, entity_path(entity) %>
          </li>
          <% end %>
        </ul>
      </p>

    </div>
    <!-- end: Sidebar -->

    <% unless @related_posts.empty? %>
    <!-- start: Sidebar -->
    <div class="span4 sidebar full">

      <!-- start: Wall -->
      <div id="wall">
        <h3>Otros artículos</h3>
        <% @related_posts.each do |post| %>
          <%= render '/shared/show_post', :item => post, :width => 'span12' %>
        <% end %>
        </p>
      </div>
      <!-- end: Wall -->

    </div>
    <!-- end: Sidebar -->
    <% end %>

  </div>
  <!--end: Row -->

</div>
<!-- end: Wrapper  -->

