<!-- start: Page Title -->
<div id="page-title" class="topic centered">
  <div class="quien-manda-en">Quien Manda <span>en</span></div>
  <h2><%= @title %></h2>
</div>
<!-- end: Page Title -->

<% if @description %>
<div class="row-fluid topic-description">
  <p class="span6 offset3"><%= @description %></p>
</div>
<% end %>

<% if @entity %>
  <div id="wrapper" class="topic-viz">
    <div class="row-fluid">
      <div id="wrapper" class="full span12">
        <%= render 'shared/show_entity_viz', path: entity_path(@entity) %>
      </div>
    </div>
  </div>
<% end %>

<!-- start: Articles -->
<% if !@posts.empty? %>
<div id="wrapper">
  <div class="title article"><p>Artículos</p></div>
  <div id="wall" class="row-fluid post topic"> 
    <% @posts.each do |post| %>
      <%= render '/shared/show_post', :item => post %>
    <% end %>
  </div>
</div>
<% end %>
<!-- end: Articles -->

<!-- start: Fotomandón -->
<% if !@photos.empty? %>
<div id="wrapper">
  <div class="title photo"><p>Fotomandón</p></div>
  <div id="wall" class="row-fluid extra-wall photo topic">
    <% @photos.each do |photo| %>
      <%= render partial_name(photo), :item => photo %>
    <% end %>
  </div>
</div>
<% end %>
<!-- end: Fotomandón -->