<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Quién Manda - Un proyecto de Civio</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Economica:700,400italic|Libre+Baskerville:700,400italic|Oswald&text=CONTACTO%40CIVIO.ES/">

  <%= favicon_link_tag 'favicon.ico' %>

  <!--[if lt IE 9 ]>
    <%= stylesheet_link_tag "/css/styleIE.css" %>
  <![endif]-->
  <!--[if IE 9 ]>
    <%= stylesheet_link_tag "/css/styleIE9.css" %>
  <![endif]-->
  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body class="admin">
  <header>
    <div class="container">
      <div class="navbar navbar-inverse">
        <div class="navbar-inner">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <%= link_to '<h1>Quien Manda</h1>'.html_safe, root_path, class: 'brand' %>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li ><%= link_to 'Admin', rails_admin_path %></li>
              <li ><%= link_to 'Import', import_index_path %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="container">
    <%= yield %>
  </div>

  <%= render 'shared/footer' %>
</body>
</html>
