<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>QuienManda - Un proyecto de Civio</title>
  <meta name="description" content=""/>
  <meta name="keywords" content="" />
  <meta name="author" content=""/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Economica:700,400italic">
  <!-- TODO: Go through these
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Boogaloo">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Serif">
  <link href="css/style.css" rel="stylesheet" type="text/css">
  <link href="css/layerslider.css" rel="stylesheet" type="text/css">
  -->
  <!--[if lt IE 9 ]>
    <link href="css/styleIE.css" rel="stylesheet">
  <![endif]-->
  <!--[if IE 9 ]>
    <link href="css/styleIE9.css" rel="stylesheet">
  <![endif]-->
  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>
<body>
  <%= render 'shared/header' %>

  <div class="container">
    <!-- TODO: Move these into pages -->
    <p class="alert-info"><%= notice %></p>
    <p class="alert-info"><%= alert %></p>
    <%= yield %>
  </div>

  <%= render 'shared/footer' %>
  
<!-- TODO: Go through these

<script src="js/jquery-1.9.1.min.js"></script>
<script src="js/jquery.isotope.min.js"></script>
<script src="js/jquery.imagesloaded.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/flexslider.js"></script>
<script src="js/carousel.js"></script>
<script src="js/jquery.cslider.js"></script>
<script src="js/slider.js"></script>
<script src="js/jquery.fancybox.js"></script>
<script src="js/twitter.js"></script>
<script src="js/jquery.placeholder.min.js"></script>

<script src="js/jquery-easing-1.3.js"></script>
<script src="js/layerslider.kreaturamedia.jquery.js"></script>

<script src="js/excanvas.js"></script>
<script src="js/jquery.flot.js"></script>
<script src="js/jquery.flot.pie.min.js"></script>
<script src="js/jquery.flot.stack.js"></script>
<script src="js/jquery.flot.resize.min.js"></script>

<script defer="defer" src="js/modernizr.js"></script>
<script defer="defer" src="js/retina.js"></script>
<script defer="defer" src="js/custom.js"></script>
 -->

</body>
</html>
