<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <%
    # Defaults for Facebook Open Graph metadata
    @title = @title.blank? ? '' : @title+' - '
    @title = @title + 'Quién Manda - Un proyecto de Civio'
    @fb_description ||= "El Quién es Quién de las personas más importantes del país."
    @fb_image_url ||= "#{request.protocol}#{request.host_with_port}/images/facebook_avatar.png"
  %>
  <title><%= @title %></title>
  <meta name="description" content="<%= @fb_description %>"/>
  <meta name="keywords" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <meta property="og:site_name" content="QuienManda.es"/>
  <meta property="og:type" content="article"/>
  <meta property="og:url" content="<%= request.original_url %>"/>
  <meta property="og:title" content="<%= @title %>"/>
  <meta property="og:image" content="<%= @fb_image_url %>"/>
  <meta property="og:description" content="<%= @fb_description %>"/>

  <%# Twitter Summary Card Metatags for people & organizations (https://dev.twitter.com/cards/types/summary) %>
  <% if @tw_card_summary %>
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@quien_manda" />
  <meta name="twitter:title" content="<%= @title %>" />
  <meta name="twitter:image" content="<%= @tw_card_photo %>" />
  <meta name="twitter:description" content="<%= @tw_card_summary %>" />
  <meta name="twitter:url" content="<%= request.original_url %>" />
  <%# Twitter Photo Card Metatags for photos, posts & topics (https://dev.twitter.com/cards/types/photo) %>
  <% elsif @tw_card_photo %>
  <meta name="twitter:card" content="photo" />
  <meta name="twitter:site" content="@quien_manda" />
  <meta name="twitter:title" content="<%= @title %>" />
  <meta name="twitter:image" content="<%= @tw_card_photo %>" />
  <meta name="twitter:url" content="<%= request.original_url %>" />
  <% end %>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%# Conditional CSRF as suggested by http://xyzpub.com/en/ruby-on-rails/3.2/http_caching.html %>
  <%= csrf_meta_tags unless response.cache_control[:public] %>

  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato:300,400,700|Merriweather:300,300i,400,400i,700,700i">

  <!-- Favicons -->
  <%= favicon_link_tag 'apple-touch-icon.png', rel: 'apple-touch-icon', sizes: '180x180' %>
  <%= favicon_link_tag 'favicon-32x32.png', rel: 'icon', type: 'image/png', sizes: '32x32' %>
  <%= favicon_link_tag 'favicon-16x16.png', rel: 'icon', type: 'image/png', sizes: '16x16' %>
  <link rel="manifest" href="<%= asset_path("manifest.json") %>">
  <link rel="mask-icon" href="<%= asset_path("safari-pinned-tab.svg") %>" color="#5bbad5">


  <!--[if lt IE 9 ]>
    <%= stylesheet_link_tag "/css/styleIE.css" %>
  <![endif]-->
  <!--[if IE 9 ]>
    <%= stylesheet_link_tag "/css/styleIE9.css" %>
  <![endif]-->
  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->

  <%= auto_discovery_link_tag :atom, feed_posts_path() %>
  <%= auto_discovery_link_tag :rss, feed_posts_path(format: 'rss') %>
</head>
<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PK6PQT4" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

  <%= render 'shared/header' %>

  <div class="container">
    <!-- TODO: Move these into pages -->
    <% unless notice.nil? %>
    <p class="alert-info"><%= notice %></p>
    <% end %>
    <% unless alert.nil? %>
    <p class="alert-info"><%= alert %></p>
    <% end %>
    <%= yield %>
  </div>

  <%= render 'shared/footer' %>

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-PK6PQT4');</script>

</body>
</html>
