<!DOCTYPE html>
<html>
<head>
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <%= stylesheet_link_tag "/css/annotorious.css" %>
  <style>
    html { -webkit-text-size-adjust: none; /* prevent font scaling in landscape */ }
    body {
      margin: 0;
      padding: 10px;
      color: #242424;
      font-size: 14px;
      font-family: 'Helvetica Neue', Arial, sans-serif;
    }
    .picture {
      border: 3px;
      padding: 10px 10px 0px 10px;
    }
    a {
      text-decoration: none;
      color: #242424;
    }
    a:hover {
      text-decoration: underline;
    }
    .credits{
      margin-bottom: 1em;
    }
    .photo-external-link{
      color: #8aa304;
    }
    .photo-external-link:hover{
      color: black;
      text-decoration: none;
    }
    .annotorious-annotationlayer{
      width: 100%;
    }
    .annotorious-popup{
      -webkit-border-radius: 0;  
      -moz-border-radius: 0;
      border-radius: 0;
    }
    .annotorious-popup-text a{
      color: #6bb21b;
      font-size: 1.125em;
      font-weight: bold;
      padding-bottom: 6px;
    }
    .annotorious-popup-text p{
      margin: 5px 0 0;
    }
  </style>
</head>
<body>
  <div class="picture">
    <%= image_tag(@photo.file.url(:full), width: '100%', id: 'photo', class: 'photo annotatable', :data => { :photoid => @photo.id, :readonly => (can? :manage, @photo) ? 'false' : 'true' }) %>

    <%= render 'shared/photo_footer', photo: @photo %>

    <%= render 'shared/show_photo_credit', photo: @photo %>

    <%= link_to @photo, class: 'photo-external-link', target: '_blank' do %>
      Ver la imagen en el Fotomandón <i class="icon-chevron-right"></i>
    <% end %>
  </div>

  <%= javascript_include_tag "widget/widget", "data-turbolinks-track" => true %>

</body>
</html>