<html>
<head>
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <link href="/css/annotorious.css" media="all" rel="stylesheet" type="text/css" />
  <style>
    body {
      color: #242424;
      font-size: 14px;
      font-family: 'Helvetica Neue', Arial, sans-serif;
    }
    .picture {
      border: 3px;
      padding: 10px 10px 0px 10px;
    }
    a {
      text-decoration: none;
      color: #242424;
    }
    a:hover {
      text-decoration: underline;
    }
  </style>
</head>
<body>
  <div class="span6 item">
    <div class="picture">
      <%= image_tag(@photo.file.url(:full), width: '100%', id: 'photo', class: 'photo annotatable') %>

      <p>
        <% unless @photo.date.blank? %>
        <strong><%= I18n.localize(@photo.date, :format => "%d de %B %Y") %>.</strong>
        <% end %>
        <%= raw(@photo.footer) %>
        <%= link_to @photo, target: '_blank' do %>
          <i class="icon-external-link"></i>
        <% end %>
      </p>
      <p>
        <%= render 'shared/show_photo_credit', photo: @photo %>
      </p>
    </div>  
  </div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="/javascripts/jquery.imagesloaded.js"></script>
<%= render 'shared/annotorious', photo: @photo %>

</body>
</html>